@model IEnumerable<SecureBadge.Entities.Assessment>


@foreach(var item in Model) {
<div>
    @Html.ActionLink(
        item.Title,                                                 
        "Assessment",                                   
        "Assessment",                                                  
        new {                                                    
           id = item.AssessmentID
        }
    )
</div>
}