@model IEnumerable<SecureBadge.Entities.Assessment>

<div class="container">
    @foreach (var item in Model)
    {
        <div>
            @Html.ActionLink(
                item.Title,
                "Assessment",
                "Assessment",
                new
                    {
                   id = item.AssessmentID
                }
            )
        </div>
    }
    </div>
