@using Microsoft.AspNetCore.Identity
@inject SignInManager<SecureBadge.Entities.User> SignInManager
@inject UserManager<SecureBadge.Entities.User> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @User.Claims.FirstOrDefault(c => c.Type == "firstname").Value @User.Claims.FirstOrDefault(c => c.Type == "lastname").Value!</h1>
</div>
