<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SecureBadge</title>
    <script src="https://kit.fontawesome.com/45ab0353cb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    
    <div class="sidebar" id="mySidebar">
        <a class="nav-link navbar-link" asp-area="" asp-controller="Home" asp-action="Index">
             <i class="fa-solid fa-house"></i>
            Home</a>
        <partial name="_LoginPartial" />    
    @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" /></a>*@
        @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@
        @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link navbar-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </div>*@
    </div>
    <div class="main" style="padding-left:110px">
        @*<button class="openbtn" onclick="openNav()">☰ </button>*@
        <header style="border-bottom: 1px solid #ddd;margin-bottom: 10px;">
            <img src="~/images/logo.png" style="height:120px;" />
        </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="padding-left:110px">
        <div class="container">
            &copy; 2022 - SecureBadge - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>
</html>
