@using Microsoft.AspNetCore.Identity
@inject SignInManager<SecureBadge.Entities.User> SignInManager
@inject UserManager<SecureBadge.Entities.User> UserManager

@if (SignInManager.IsSignedIn(User))
{
        <a class="nav-link navbar-link" asp-controller="Assessment"
           asp-action="Index">
          <i class="icon-book"></i> 
           My Assessments</a>
        <a class="nav-link navbar-link" asp-area="" asp-controller="Home" asp-action="Badges">
            <i class="icon-trophy"></i>
            My Badges</a>
    
        <a class="nav-link navbar-link" asp-controller="Home" asp-action="Index"
           title="Welcome">
           <i class="icon-user"></i>
           Welcome @User.Claims.FirstOrDefault(c => c.Type == "firstname").Value @User.Claims.FirstOrDefault(c => c.Type == "lastname").Value!</a>
    

}
else
{
    
        <a class="nav-link navbar-link" asp-controller="Account"
           asp-action="Login">Login</a>
    
        <a class="nav-link navbar-link" asp-controller="Account"
           asp-action="Register">Register</a>
    
}
